<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoo.home.dao.MainMenuDAO">

    <select id="selectMainMenu" resultType="com.hoo.home.dto.MainMenuDTO">
        SELECT *
        FROM main_menu;
    </select>

</mapper>